%table
  %tr
    %th 
    %th Acquired?
    %th Read?
    %th Issue
    %th Pub. date
  - issues.each do |issue|
    %tr
      %td{:style => "width:55px"}
        %span
          &nbsp;
      %td
        = check_box_tag("issue#{issue.id}", "acquired", current_user.issue_acquired?(issue), :class => "dyn_checkbox", 'data-remote' => true, 'data-method' => 'get', 'data-url' => issues_acquire_path(issue.id))
      %td
        = check_box_tag("issue#{issue.id}", "finished", current_user.issue_read?(issue), :class => "dyn_checkbox", 'data-remote' => true, 'data-method' => 'get', 'data-url' => issues_read_path(issue.id))
      %td
        = link_to "#{issue.series.name} - Issue ##{issue.number} - #{issue.title}", issues_view_path(issue.id)
        = " [#{issue.page_count.to_i} pages]"
      %td
        = issue.publication_date

:javascript
  $(document).ready(function() {
    $('.dyn_checkbox')
        .bind("ajax:success", function(evt, xhr, settings) { thespan = $(this).parent().parent().find("span"); thespan.show(); thespan.text("saved!"); thespan.addClass("ajax_success"); thespan.fadeOut(2000); });
    $('.dyn_checkbox')
        .bind("ajax:error", function(evt, xhr, settings) { thespan = $(this).parent().parent().find("span"); thespan.show(); thespan.text("error! :("); thespan.addClass("ajax_error"); thespan.fadeOut(5000);});
  });

