.row
  .col-lg-6.col-sm-12
    %h2 Series followed
    To track another series, enter a word to search for:
    = form_tag series_search_path, method: 'get' do
      = text_field_tag :q, nil, placeholder: 'e.g. Hellblazer'
      = submit_tag 'Search'
    You are currently tracking the following series:
    - if @user.tracked_series.nil?
      %p
        %em Absolutely none! :)
    - else
      != render(:partial => "series/list", :locals => {:series_list => @user.tracked_series })
    %h2 Find by Writer
    Type in a name to find issues containing texts authored by someone with that name.
    = form_tag issues_search_by_writer_path, method: 'get' do
      = text_field_tag :q, nil, placeholder: 'e.g. Alan Moore'
      = submit_tag 'Search'
  .col-lg-6.col-sm-12
    %h2 Issues tracked
    - if @user.tracked_issues.nil?
      %p
        %em You're tracking no issues at all!
    - else
      You are currently tracking
      %strong
        = @user.tracked_issues.count
      issues, of which you are yet to acquire
      %strong
        = link_to @user.unacquired_issue_count.to_s, issues_unacquired_path
      and yet to read
      %strong
        = link_to @user.unread_issue_count.to_s, issues_unread_path
      = '.'
      %h3 Next issue to read, by series
      != render(:partial => 'issues/list', :locals => {:issues => @user.first_unread_issues, is_next_to_read: true})
      %p{style: 'margin-left:30px'}
        = link_to 'More unread issues...', issues_unread_path
      %h3 Newest issues to acquire
      != render(:partial => 'issues/list', :locals => {:issues => @user.unacquired_issues.order(key_date: :desc).limit(10), is_next_to_read: false, ttag: 'new_unacquired'})
      %p{style: 'margin-left:30px'}
        = link_to 'More issues to acquire...', issues_unacquired_path
      %h3 Oldest issues to acquire
      != render(:partial => 'issues/list', :locals => {:issues => @user.unacquired_issues.order(key_date: :asc).limit(10), is_next_to_read: false, ttag: 'old_unaquired'})
      %p{style: 'margin-left:30px'}
        = link_to 'More issues to acquire...', issues_unacquired_path

