%table
  %tbody
    %tr
      %th Name
      %th Lang
      %th= '# of Issues'
      %th Format
      %th Published
      %th Publisher
      %th Country
      %th Actions
    - series_list.each do |series|
      %tr
        %td= link_to series.name, series_view_path(series.id)
        %td= series.language.code
        %td= series.issue_count.to_s
        %td= series.publishing_format
        %td= (series.publication_dates.nil? or series.publication_dates.empty?) ? "#{series.year_began or '?'}-#{series.year_ended or '?'}" : series.publication_dates
        %td= series.publisher.name.length > 15 ? series.publisher.name[0..14]+'...' : series.publisher.name
        %td= series.country.name
        %td
          - if @current_user.follows(series)
            = link_to 'Unfollow!', series_unfollow_path(series.id)
          - else
            = link_to 'Follow!', series_follow_path(series.id)


