<!DOCTYPE html>
<html>
<head>
  <title>Methodicomic</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
  <% end %>
</div>
<%= yield %>

<div class="footer">Data courtesy of the <a href="http://www.comics.org/">Grand Comics Database</a> – under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution license.</a></div>
</body>
</html>
