<!DOCTYPE html>
<html>
<head>
  <title>Methodicomic</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
    <% end -%>

<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
  <% end %>
</div>
<%= yield %>
<hr>
<div class="footer">
  <table><tr><td>
        <%= link_to 'Dashboard', root_url %> | Data courtesy of the <a href="http://www.comics.org/">Grand Comics Database</a>, as of <%= gcd_dump_from %> – under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution license.</a> | Code at <a href="https://github.com/abartov/methodicomic">GitHub</a> </td>
          <td> <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHVwYJKoZIhvcNAQcEoIIHSDCCB0QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYC6GAhoj5Eig2fVFp+WzFJNv6c9u7IE4dLjdtq9S1/SZFLpTWVNjnKF4nUSVIFMWuvT/XMha88/+7liChVEtklJ3iOkGUT80xnQprpsS8ntWsaUM8IzBQE336VBTxfvRJcLI1sWKmzABMqtMuO9nfzHo3KNja8ZHaP1wDPUrdPofTELMAkGBSsOAwIaBQAwgdQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIi4lx8axW8MiAgbCdRzEMrzFCpB64BxGJcVCp04+OqQdxAfTXrTtun/HZfOurS/zLepJFyxlTi3pqauyVtsxV86yBlH5zlbOTBltvO3wgOymugSaUPbEypt/92COgHbK+ccU/XonriwvxGodmnkOHWAU5uuHnc0PJMypb8nhjFEvhsaabLa4fiq521p0QGT7WheTa5KKsi15St/cZYb2uJkh6xmw4fW8twwm7YlmON22z4NmAJYQ+Pcw4BqCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE0MDMxOTAwNDUxNlowIwYJKoZIhvcNAQkEMRYEFH6+KbIOyBgUNyh0MCaDuIlyUU3RMA0GCSqGSIb3DQEBAQUABIGAUa2wXwxEsbeUAwgWWWQiqy8bsIz2ikSf0REfElxPNkTaeHo+Kh/ZPz13O5FUWATB8ljSioOAwqFmxAtp24pyUZ7OP1tPNArFPo9aHCK8xiXE5pzhYA/K7YRj9W9Td0WIo3voYkc69MWk0UkL2T6AEjAWj8HgJGBMAqyy5GM7oIQ=-----END PKCS7-----
    ">
    <input type="image" src="https://www.paypalobjects.com/en_US/IL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></td></tr></table>
</div>
</body>
</html>
